body {
	background-color: rgb(58, 58, 58);
	/* color: rgb(122, 122, 122); */
	/* border: 2px dotted white; */
	height: 98vh;
	
	display: flex;
	flex-direction: column;
	margin: 0px;
	background-color: antiquewhite;
	padding: 5px;
}

#easContainer{
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	height: 100vh;
	background-color: rgb(192, 139, 25);

}

.rowStyle {
    /* border: 2px solid #aaaaaa; */
	display: flex;
	align-items: stretch;
	flex: 1 1 20px;
	/* margin: 5px; */
	/* gap: 10px; */
}

.tile {
	display: flex;
    flex-direction: column;
	flex:auto;
	background-color: rgb(192, 139, 25);
	transition: all 0s ease;
}

.fadeout{
	transition: all 2.125s ease-out;
}

/* div.tile:hover{
	background-color: rgb(29, 90, 29);
} */

.hovered {
background-color: rgb(35, 97, 15);
border-radius: 50%;
}


.input-container {
	display: flex;
	justify-content: flex-start;
	padding-bottom: 5px;
}


.slider-container {
    /* width: auto; */
    /* margin-left: 0px auto; */
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex: 1 1 10px;
  }

  .slider {
	appearance: auto;
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4caf50;
    cursor: pointer;
  }

  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4caf50;
    cursor: pointer;
  }

  .button-container {
    margin-right: 0px;
	margin-left: 0;
	display: flex;
	/* display: inline-flex; */
	/* justify-content: flex-end; */
  }

  .output {
	display: flex;
    text-align: center;
	align-items: center;
	justify-content: center;

	padding: 0px 15px ;

  }