body{
	background-color: rgb(58, 58, 58);
	/* color: rgb(122, 122, 122); */
	/* border: 2px dotted white; */
	height: 100vh;
	
	display: flex;
	flex-direction: column;
	margin: 0;
	background-color: antiquewhite;
	/* padding: 5px; */
}

#container{
	text-align: center;
}

.rowStyle {
    /* border: 2px solid #aaaaaa; */
	display: flex;
	align-items: stretch;
	flex: 1 1 50px;
	margin: 5px;
	gap: 10px;
}

.tile {
	display: flex;
    flex-direction: column;
	flex:auto;
	background-color: rgb(192, 139, 25);
}

/* div.tile:hover{
	background-color: rgb(29, 90, 29);
} */
